.App {
    text-align: center;
    background-image: url("../src/assets/placeholder.png");
    background-size: cover;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-full {
    /* background-color: #856727; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
}

.Nav-bar {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-left: 2em;
}

.App-link {
    color: #61dafb;
}


/* Navigation link colors */

a {
    color: #FFF;
    text-decoration: none !important;
}

a:hover {
    color: rgb(169, 247, 208)
}

.White-bg {
    background-color: #fffefe;
    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 2em;
    min-width: 75vw;
}

.max-w-80 {
    max-width: 80%;
    display: initial !important;
}